@import '../../styles/abstract/variables.scss';

.error-message {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  img{
    width: 110px;
    margin-bottom: 50px;
  }
  div {
    font-size: 20px;
    span{
      font-weight: bold;
    }
  }
}